.container {
    padding-top: 15px;
    display: flex;
    margin: auto;
    padding: 50px;
    width: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.container input {
    border-radius: 8px;
    height: 30px;
    margin-right: 10px;
    &:hover {
        box-shadow: 0 0 50px #4ebad8;
    }
}

.container button {
    border-radius: 8px;
    height: 30px;
    background-color: #0a527c;
    color:  white;
    border: 0px;
    padding: 5px;
    &:hover {
        background-color: red;
    }
}

.error {
    color: red
}