.container {
    /* transform: perspective(600px) rotateY(0deg); */
    border : 1px solid black;
    background-color: lightgray;
    border-radius: 10px;
    width: 170px;
    padding: 10px;
    box-shadow: 0 0 10px black;
    &:hover {
        box-shadow: 0 0 50px purple;
    }
}

.container img {
    width: 150px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 0 5px black;
}

.buttonContainer {
    display: flex;
    justify-content: flex-end;
}

.buttonContainer button {
    background-color: #ca0043;
    color: white;
    border-radius: 10px;
    border: 0px;
}

.dataContainer {
    text-align: center;
    padding: 10px;
}

.dataContainer h2 {
    margin: 2px;
    font-size: 20px;
    color: #961676
    
}

.dataContainer h4 {
    margin: 2px;
    font-size: 16px;
    color: black
}

.favoriteButton {
    /* Estilos para el botón de favorito cuando está activo */
    background-color: purple;
    /* ... */
 }

 .unfavoriteButton {
    /* Estilos para el botón de favorito cuando no está activo */
    background-color: white;
    /* ... */
 }

