.container {
    display: flex;
    margin: auto;
    width: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.container input {
    border-radius: 8px;
    height: 30px;
}

.container button {
    border-radius: 8px;
    height: 30px;
    background-color: #0a527c;
    color:  white;
    border: 0px;
    padding: 5px;
}

